body {
    background: grey;
    color: black;
}

header {
    margin-left: 10%;
    margin-right: 10%;
    width: 60%;
    margin: auto;
    background: lightgrey;
    text-align: center;
    border: 2px black solid;
}

nav {
    margin-left: 10%;
    margin-right: 10%;
    width: 60%;
    margin: auto;
    background: lightgrey;
    text-align: center;
    border: 2px black solid;
}